<a href="https://colab.research.google.com/github/DebarajPurohit/Hotel_booking_analysis/blob/main/Hotel_Booking_Analysis_Capstone_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## <b> Have you ever wondered when the best time of year to book a hotel room is? Or the optimal length of stay in order to get the best daily rate? What if you wanted to predict whether or not a hotel was likely to receive a disproportionately high number of special requests? This hotel booking dataset can help you explore those questions!

## <b>This data set contains booking information for a city hotel and a resort hotel, and includes information such as when the booking was made, length of stay, the number of adults, children, and/or babies, and the number of available parking spaces, among other things. All personally identifying information has been removed from the data. </b>

## <b> Explore and analyze the data to discover important factors that govern the bookings. </b>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
% matplotlib inline

In [4]:
file_path = '/content/drive/MyDrive/Colab Notebooks/Almabetter/CAPSTONE PROJECT/PROJECT-1 EDA/HOTEL BOOKING EDA/Hotel Bookings.csv'

In [5]:
hotel_df = pd.read_csv(file_path)

In [6]:
hotel_df.head(3)

          hotel  is_canceled  ...  reservation_status  reservation_status_date
0  Resort Hotel            0  ...           Check-Out                 01-07-15
1  Resort Hotel            0  ...           Check-Out                 01-07-15
2  Resort Hotel            0  ...           Check-Out                 02-07-15

[3 rows x 32 columns]

In [7]:
hotel_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 119390 entries, 0 to 119389
Data columns (total 32 columns):
 #   Column                          Non-Null Count   Dtype
---  ------                          --------------   -----
 0   hotel                           119390 non-null  object
 1   is_canceled                     119390 non-null  int64
 2   lead_time                       119390 non-null  int64
 3   arrival_date_year               119390 non-null  int64
 4   arrival_date_month              119390 non-null  object
 5   arrival_date_week_number        119390 non-null  int64
 6   arrival_date_day_of_month       119390 non-null  int64
 7   stays_in_weekend_nights         119390 non-null  int64
 8   stays_in_week_nights            119390 non-null  int64
 9   adults                          119390 non-null  int64
 10  children                        119386 non-null  float64
 11  babies                          119390 non-null  int64
 12  meal                            119390 non-null  object
 13  country                         118902 non-null  object
 14  market_segment                  119390 non-null  object
 15  distribution_channel            119390 non-null  object
 16  is_repeated_guest               119390 non-null  int64
 17  previous_cancellations          119390 non-null  int64
 18  previous_bookings_not_canceled  119390 non-null  int64
 19  reserved_room_type              119390 non-null  object
 20  assigned_room_type              119390 non-null  object
 21  booking_changes                 119390 non-null  int64
 22  deposit_type                    119390 non-null  object
 23  agent                           103050 non-null  float64
 24  company                         6797 non-null    float64
 25  days_in_waiting_list            119390 non-null  int64
 26  customer_type                   119390 non-null  object
 27  adr                             119390 non-null  float64
 28  required_car_parking_spaces     119390 non-null  int64
 29  total_of_special_requests       119390 non-null  int64
 30  reservation_status              119390 non-null  object
 31  reservation_status_date         119390 non-null  object
dtypes: float64(4), int64(16), object(12)
memory usage: 29.1+ MB

In [8]:
hotel_df.describe()

         is_canceled  ...  total_of_special_requests
count  119390.000000  ...              119390.000000
mean        0.370416  ...                   0.571363
std         0.482918  ...                   0.792798
min         0.000000  ...                   0.000000
25%         0.000000  ...                   0.000000
50%         0.000000  ...                   0.000000
75%         1.000000  ...                   1.000000
max         1.000000  ...                   5.000000

[8 rows x 20 columns]

## 1. Booking growth in hotel
## --- Year Wise
##--- Country wise
## 2. Percentage for booking each year

## To get the exact data of booking growth each year, we have to first group the data Year Wise and then we have to group the data as per Hotel Type. We then sort the data as per reservation_status.

In [9]:
year_wise_df = hotel_df.groupby(['arrival_date_year', 'reservation_status','hotel'])[['hotel']].count().unstack()

In [10]:
year_wise_df

                                          hotel
hotel                                City Hotel Resort Hotel
arrival_date_year reservation_status
2015              Canceled                 5882         2069
                  Check-Out                7678         6176
                  No-Show                   122           69
2016              Canceled                14852         4817
                  Check-Out               22733        13637
                  No-Show                   555          113
2017              Canceled                11452         3945
                  Check-Out               15817         9125
                  No-Show                   239          109

In [29]:
year_wise_df = hotel_df.groupby(['arrival_date_year', 'hotel','reservation_status'])[['reservation_status']].count().unstack()

In [30]:
year_wise_df

                               reservation_status
reservation_status                       Canceled Check-Out No-Show
arrival_date_year hotel
2015              City Hotel                 5882      7678     122
                  Resort Hotel               2069      6176      69
2016              City Hotel                14852     22733     555
                  Resort Hotel               4817     13637     113
2017              City Hotel                11452     15817     239
                  Resort Hotel               3945      9125     109

In [31]:
year_wise_df.columns

MultiIndex([('reservation_status',  'Canceled'),
            ('reservation_status', 'Check-Out'),
            ('reservation_status',   'No-Show')],
           names=[None, 'reservation_status'])

## To sum the elements of MultiIndex Dataframe, we have sum().

In [32]:
year_wise_df['total_booking'] = year_wise_df.sum(level=0, axis=1)

In [33]:
year_wise_df

                               reservation_status  ... total_booking
reservation_status                       Canceled  ...
arrival_date_year hotel                            ...
2015              City Hotel                 5882  ...         13682
                  Resort Hotel               2069  ...          8314
2016              City Hotel                14852  ...         38140
                  Resort Hotel               4817  ...         18567
2017              City Hotel                11452  ...         27508
                  Resort Hotel               3945  ...         13179

[6 rows x 4 columns]

## **Percentage of Booking (of a specified hotel type/all hotel types) in a year =  Booking in that year/overall booking in 3 years**
## We have data of Resort Hotel and City Hotel is given seaparetly year wise. Our next step is get the sum of Resort Hotel and City Hotel over 2 years from 2015 to 2017

In [34]:
year_wise_df.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 6 entries, (2015, 'City Hotel') to (2017, 'Resort Hotel')
Data columns (total 4 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   (reservation_status, Canceled)   6 non-null      int64
 1   (reservation_status, Check-Out)  6 non-null      int64
 2   (reservation_status, No-Show)    6 non-null      int64
 3   (total_booking, )                6 non-null      int64
dtypes: int64(4)
memory usage: 364.0+ bytes

In [35]:
Total_booking_3years = year_wise_df.groupby(['hotel']).sum()

In [36]:
Total_booking_3years

                   reservation_status                   total_booking
reservation_status           Canceled Check-Out No-Show
hotel
City Hotel                      32186     46228     916         79330
Resort Hotel                    10831     28938     291         40060

In [37]:
total_no_of_bookings = Total_booking_3years['total_booking'].sum()

In [38]:
total_no_of_bookings

119390

## Q1. What is the percentage of booking as per hotel type over 3 years?
## **ANs 1.1 --> For Resort hotel type**
##          **% of booking for resort Hotel type = total bookings for resort hotel type 3 years/ overall booking in 3 years**

In [39]:
Total_booking_3years.loc['Resort Hotel', 'total_booking']

reservation_status
    40060
Name: Resort Hotel, dtype: int64

In [43]:
Resort_hotel_percentage = (Total_booking_3years.loc['Resort Hotel', 'total_booking']/total_no_of_bookings)*100

In [44]:
list(Resort_hotel_percentage)

[33.55389898651479]

## **ANs 1.2 --> For City hotel type**
##          **% of booking for City Hotel type = total bookings for City hotel type 3 years/ overall booking in 3 years**

In [45]:
City_hotel_percentage = (Total_booking_3years.loc['City Hotel', 'total_booking']/total_no_of_bookings)*100

In [46]:
City_hotel_percentage

reservation_status
    66.446101
Name: City Hotel, dtype: float64